.vscode
lib/libspeex.so.1
lib/libMCloud.so
lib/libMCloud.so.1
lib/libavcodec.so
lib/libavformat.so
lib/libavresample.so
lib/libavutil.so
lib/libgmp.so
lib/libgmp.so.10
lib/libgnutls.so
lib/libgnutls-xssl.so
lib/libgnutls-xssl.so.0
lib/libgnutls.so.28
lib/libgnutlsxx.so
lib/libgnutlsxx.so.28
lib/libhogweed.so
lib/libnettle.so
lib/libopus.so
lib/libopus.so.0
lib/libspeex.so
mcloud/cgo_helpers.c
mcloud/cgo_helpers.go
mcloud/cgo_helpers.h
mcloud/const.go
mcloud/doc.go
mcloud/mcloud.go
mcloud/types.go
